@import url('https://fonts.googleapis.com/css2?family=Poiret+One');
body{
  margin: 0;
  font-family: 'Poiret One', cursive;
  background-color: rgb(226, 214, 202);
}

h3 {
  text-align: center;
}

nav {
  text-align: center;
  background-color: rgb(163, 101, 78);
  position: relative;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1rem;
  border-bottom:rgb(11, 42, 51);
  border-bottom-style: solid;
}

.collection-item {
  margin: 1rem;
  padding: 1rem;
  position: relative;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(226, 214, 202);
  background-clip: border-box;
  border: 1px solid rgb(0, 0, 0);
}

.navbutton {
  margin: 1rem;
  font-family: 'Poiret One', cursive;
  text-decoration: none;
  color: black;
}

.navbutton:hover {
  opacity: .4;
}

.projectimg{
  float: left;
  height: 10rem;
  width: 15rem;
}

.footer {
  text-align: center;
  margin-top: 2rem;
  padding: 0rem;
  background-color: rgb(216, 199, 183);
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}

.signature {
  text-align: left;
}
.social {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem;
}

img.social:hover {
  opacity: .5;
}