@import url('https://fonts.googleapis.com/css2?family=Poiret+One');

/* General Text */
body{
  margin: 0;
  font-family: 'Poiret One', cursive;
  background-color: rgb(226, 214, 202);
}

h3 {
  text-align: center;
}

.heading{
  text-align: center;
}
.header {
  margin-top: 3rem;
  height: 30%;
  width: 30%
}

/* Nav Bar */

nav {
  text-align: center;
  background-color: rgb(163, 101, 78);
  position: relative;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1rem;
  border-bottom:rgb(11, 42, 51);
  border-bottom-style: solid;
}

.navbutton {
  margin: 1rem;
  font-family: 'Poiret One', cursive;
  text-decoration: none;
  color: black;
}

.navbutton:hover {
  opacity: .4;
}

/* Footer */

.footer {
  text-align: center;
  margin-top: 2rem;
  padding: 0rem;
  background-color: rgb(216, 199, 183);
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Project */

.project-img{
  float: left;
  height: 10rem;
  width: 15rem;
}

.project-main{
  text-align: center;
  height: 60%;
  width: 60%;
  box-shadow: 20px 20px rgb(92, 105, 95);
}

.project-item {
  text-align: center;
  margin: 1rem;
  padding-bottom: 2.5rem;
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(226, 214, 202);
  border-bottom-style: ridge;
  border-bottom-width: 1px;
  border-bottom-color: rgb(11, 42, 51);
  
}


.signature {
  text-align: left;
}
.social {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem;
}

img.social:hover {
  opacity: .5;
}