@import url('https://fonts.googleapis.com/css2?family=Poiret+One');

/* General Text */

body{
  margin: 0;
  font-family: 'Poiret One', cursive;
  background-color: rgb(226, 214, 202);
}

h3 {
  text-align: center;
}

.heading{
  text-align: center;
}
.header {
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 50%;
  width: 50%;
  background: linear-gradient(180deg, rgba(226, 214, 202,0) 98%, rgb(11, 42, 51) 10%);
}

/* Home */

.intro-wrapper {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1px;
}

.hello-img {
  margin: 2rem;
  width: 100%;
}

.about-me{
  margin: 4rem;
}

/* Picture Wall */

.picture-wrapper{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  justify-items: center;
}

.pw-img{
  width: 80%;
  border-color: rgb(11, 42, 51);
  border-style: solid;
  border-width: 2px;
  margin-bottom: 2rem;
}

/* Nav Bar */

nav {
  text-align: center;
  background-color: rgb(163, 101, 78);
  position: relative;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1rem;
  border-bottom:rgb(11, 42, 51);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.navbutton {
  margin: 1rem;
  font-family: 'Poiret One', cursive;
  text-decoration: none;
  color: black;
}

.navbutton:hover {
  opacity: .4;
}

/* Footer */

.footer {
  text-align: center;
  margin-top: 2rem;
  padding: 0rem;
  background-color: rgb(216, 199, 183);
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.social {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem;
}

img.social:hover {
  opacity: .5;
}

/* Single Project */

.project-wrapper {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1px;
}

.project-img{
  margin: 1rem;
  height: 20rem;
  width: 30rem;
  border: rgb(251, 245, 233);
  border-style: solid;
  box-shadow: 20px 20px rgb(92, 105, 95);
}

.project-spot-two{
  margin: 2rem;
}

.repo-button{
  margin: 1rem;
  width: 9rem;
  height: 3rem;
  border-style: solid;
  border-color: rgb(251, 245, 233);
  border-width: 2px;
  box-shadow: 5px 5px rgb(11, 42, 51);
  
}

.project-subhead{
  background: linear-gradient(180deg, rgba(226, 214, 202,0) 65%, rgb(251, 245, 233) 65%);
}


/* Project */

.project-main{
  text-align: center;
  height: 60%;
  width: 60%;
  border: rgb(251, 245, 233);
  border-style: solid;
  box-shadow: 20px 20px rgb(92, 105, 95);
}

.project-main:hover{
  opacity: .7;
  box-shadow: 20px 20px rgb(11, 42, 51);
  border: rgb(163, 101, 78);
  border-style: solid;
}

.project-item {
  text-align: center;
  margin: 1rem;
  padding-bottom: 2.5rem;
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(226, 214, 202);
  border-bottom-style: ridge;
  border-bottom-width: 1px;
  border-bottom-color: rgb(11, 42, 51);
  
}

.project-title {
  background: linear-gradient(180deg, rgba(226, 214, 202,0) 65%, rgba(163, 101, 78, 0.483) 65%);
  display:inline-block;
}

/* Tech */

.tech-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(11, 42, 51);
  border-bottom-width: 1px;
}

.tech-list{
  float: left;
   margin-bottom: 1rem;
   margin-right: 2rem;
}

.tech-heading {
  margin-top: 50%;
  margin-left: 10%;
  background: linear-gradient(180deg, rgba(226, 214, 202,0) 65%, rgba(163, 101, 78, 0.483) 65%);
  display:inline-block;
}

.tech-subhead {
  background: linear-gradient(180deg, rgba(226, 214, 202,0) 65%, rgb(251, 245, 233) 65%);
  display:inline-block;
}

/* Experience */

.experience-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(11, 42, 51);
  border-bottom-width: 1px;
}

.experience-list{
  float: left;
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.experience-heading {
  margin-top: 50%;
  margin-left: 10%;
  background: linear-gradient(180deg, rgba(226, 214, 202,0) 65%, rgba(163, 101, 78, 0.483) 65%);
  display:inline-block;
}

.experience-subhead {
  background: linear-gradient(180deg, rgba(226, 214, 202,0) 65%, rgb(251, 245, 233) 65%);
  display:inline-block;
}

/* Education */

.education-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1px;
}

.education-list{
  float: left;
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.education-heading {
  margin-top: 50%;
  margin-left: 10%;
  background: linear-gradient(180deg, rgba(226, 214, 202,0) 65%, rgba(163, 101, 78, 0.483) 65%);
  display:inline-block;
}

.education-subhead {
  background: linear-gradient(180deg, rgba(226, 214, 202,0) 65%, rgb(251, 245, 233) 65%);
  display:inline-block;
}